# Assignment \#8 : The Astrophysical Distance Ladder

Kaimi Kahihikolo

Due: 17 April 2019

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import astropy.constants as const
import astropy.units as u

plt.style.use('seaborn')

___
## (2) Next Step: Comparing Clusters

In [12]:
## constants
P_SNormae = 9.75 * u.day
E_B_V = 0.18
m_vis = 6.42

Av = 3.1*E_B_V
print(f"Av = {Av}")
V0 = m_vis - Av

Av = 0.5579999999999999

In [17]:
df1 = pd.read_csv("aux/clu6087.dat", header=2, 
                  sep='\s+')

df1.head()

       V   B-V   U-B
0  11.46  0.15  0.08
1  12.08  0.22  0.21
2  12.10  0.24  0.25
3  12.56  0.37  0.24
4   8.28  0.06 -0.18